/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: #f2f2f2;
  --text-color: #b3b3b3;
  --text-color-light: #999999;
  --body-color: #000000;
  --container-color: #141414;
  --grey-color: #b5b5b5;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Navigation for mobile devices */

@media screen and (max-width: 1020px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /*for safari*/
    transition: top 0.5s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav-link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.4s;
}

.nav-link:hover::after {
  width: 70%;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */

.show-menu {
  top: 0;
}

/* Add blur to header */

.blur-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /*for safari*/
  z-index: -1;
}

/* Active link */

.active-link::after {
  width: 70%;
}

/*=============== HOME ===============*/

.home {
  position: relative;
}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 58%,
    hsla(0, 0%, 0%) 78%
  );
}

.home-container {
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}

.home-data {
  text-align: center;
}

.home-subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.home-title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.home-desc {
  margin-bottom: 2rem;
  color: var(--title-color);
}

.home-cards {
  grid-template-columns: 240px;
  justify-content: center;
}

.home-card {
  position: relative;
  overflow: hidden;
}

.home-card-img {
  transition: transform 0.5s;
}

.card-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%) 125%
  );
}

.card-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  z-index: 1;
}

.home-card:hover .home-card-img {
  transform: scale(1.2);
}

/*=============== BUTTON ===============*/

.button {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /*for safari*/
}

.button i {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.5s;
}

.button:hover i {
  transform: translateX(0.25rem);
}

/*=============== ABOUT ===============*/

.about-container {
  row-gap: 3rem;
}

.about-data {
  text-align: center;
}

.about-desc {
  margin-bottom: 2rem;
}

.about-image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.about-img {
  width: 350px;
  height: 350px;
  transition: transform 0.5s;
}

.about-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%) 110%
  );
}

.about-image:hover .about-img {
  transform: scale(1.2);
}
/*=============== POPULAR ===============*/

.popular-container {
  padding-top: 1.5rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.popular-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.popular-img {
  transition: transform 0.5s;
}

.popular-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%) 110%
  );
}

.popular-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.popular-location {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: 500;
}

.popular-location i {
  font-size: 1rem;
}

.popular-image:hover .popular-img {
  transform: scale(1.2);
}

/*=============== EXPLORE ===============*/

.explore {
  position: relative;
}

.explore-image {
  position: absolute;
  overflow: hidden;
}

.explore-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.explore-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%) 5%,
    hsla(0, 0%, 0%, 0) 40%,
    hsla(0, 0%, 0%, 0) 60%,
    hsla(0, 0%, 0%) 92%
  );
}

.explore-content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}

.explore-user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.explore-profile {
  width: 30px;
  border-radius: 50%;
}

.user-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

/*=============== JOIN ===============*/

.join-container {
  row-gap: 3rem;
  padding-bottom: 2.5rem;
}

.join-data {
  text-align: center;
}

.join-desc {
  margin-bottom: 2rem;
}

.join-form {
  display: grid;
  row-gap: 1rem;
}

.join-input {
  padding: 1.25rem 1rem;
  background-color: var(--container-color);
  border-radius: 8px;
}

.join-button {
  cursor: pointer;
  border-radius: 8px;
}

.join-image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.join-img {
  width: 350px;
  height: 350px;
  transition: transform 0.5s;
}

.join-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%) 110%
  );
}

.join-image:hover .join-img {
  transform: scale(1.2);
}
/*=============== FOOTER ===============*/

.footer {
  padding-block: 2.5rem;
  background-color: var(--container-color);
}

.footer-content {
  row-gap: 3.5rem;
}

.footer-logo {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer-data {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer-links {
  display: grid;
  row-gap: 0.75rem;
}

.footer-link {
  color: var(--text-color);
  transition: color 0.5s;
}

.footer-link:hover {
  color: var(--title-color);
}

.footer-group,
.footer-social {
  display: flex;
}

.footer-group {
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer-social {
  column-gap: 1.5rem;
}

.social-link {
  color: var(--text-color);
  font-size: 1.25rem;
  transition: color 0.5s, transform 0.5s;
}

.social-link:hover {
  color: var(--title-color);
  transform: translateY(-0.25rem);
}

.copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}

/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 6px;
  display: inline-flex;
  color: var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: var(--z-tooltip);
  transition: bottom 0.5s, transform 0.5s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up */

.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .footer-data {
    grid-template-columns: max-content;
  }
}

/* For medium devices */

@media screen and (min-width: 576px) {
  .home-container,
  .about-container,
  .explore-content,
  .join-container {
    grid-template-columns: 380px;
    justify-content: center;
  }

  .footer-data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home-cards {
    grid-template-columns: repeat(2, 240px);
  }

  .about-container,
  .join-container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .about-data,
  .about-data .section-title,
  .join-data,
  .join-data .section-title {
    text-align: initial;
  }

  .popular-container {
    grid-template-columns: repeat(2, 240px);
  }

  .explore-img {
    width: 100vw;
  }

  .join-image {
    order: -1;
  }

  .footer-data {
    grid-template-columns: repeat(4, max-content);
  }

  .footer-group {
    flex-direction: row;
    justify-content: space-between;
  }

  .copy {
    order: -1;
  }
}

/* For large devices */

@media screen and (min-width: 1020px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .popular-container {
    grid-template-columns: repeat(3, 240px);
  }

  .footer-data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .blur-header::after {
    backdrop-filter: blur(26px);
    -webkit-backdrop-filter: blur(26px);
  }

  .home-container {
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 6.5rem;
  }

  .shadow {
    height: 980px;
  }

  .home-data {
    text-align: initial;
    width: 480px;
  }

  .home-subtitle {
    font-size: var(--h2-font-size);
  }

  .home-desc {
    margin-bottom: 2.5rem;
  }

  .home-cards {
    grid-template-columns: repeat(4, 260px);
  }

  .card-title {
    left: 1.5rem;
    bottom: 1.5rem;
  }

  .button {
    column-gap: 1.5rem;
  }

  .about-container {
    grid-template-columns: 400px 400px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }

  .about-desc {
    margin-bottom: 3rem;
  }

  .about-img {
    width: 450px;
  }

  .popular-container {
    grid-template-columns: repeat(3, 300px);
    column-gap: 3rem;
    padding-top: 4rem;
  }

  .popular-title {
    font-size: var(--h2-font-size);
  }

  .popular-location {
    font-size: var(--normal-font-size);
  }

  .explore-img {
    height: 600px;
  }

  .explore-content {
    padding-top: 25rem;
    grid-template-columns: 670px 1fr;
  }

  .explore-data,
  .explore-data .section-title {
    text-align: initial;
  }

  .explore-user {
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.25rem;
  }

  .join-container {
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }

  .join-img {
    width: 460px;
  }

  .join-desc {
    margin-bottom: 3rem;
  }

  .footer {
    padding-block: 5rem 3rem;
  }

  .footer-title {
    margin-bottom: 1.5rem;
  }

  .footer-desc {
    width: 500px;
  }

  .footer-content {
    grid-template-columns: repeat(3, max-content);
  }

  .footer-group {
    margin-top: 7rem;
  }

  .footer-social {
    column-gap: 2rem;
  }

  .social-link {
    font-size: 1.5rem;
  }

  .scrollup {
    right: 3rem;
  }
}
